.contenedor{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, var(--dorado),var(--dorado-fuerte),var(--verde), var(--verde-fuerte));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 
.login-container {
    background-color: var(--blanco);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: var(--verde-fuerte);
    text-shadow: 2px 2px 4px var(--plomo);
  }

  .login-container label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  .login-container input,
  .login-container select {
    border: none;
  }

  .login-container input,
  .login-container select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-bottom: 1px solid var(--verde-fuerte);
    border-radius: 5px;
  }

  .login-container select option:hover {
    background-color: var(--verde-fuerte);
    color: var(--blanco);
  }

  .login-container button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--verde-fuerte);
    color: white;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .login-container button:hover {
    background-color: var(--verde);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px var(--verde);
  }

  .logo-esquina {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px; /* Ajusta según el tamaño deseado */
    height: auto;
    cursor: pointer
  }